* {
    box-sizing: border-box;
    margin: 0;
  }

.container {
    display: flex;
    margin: 1rem;
  }

.container div {
    flex: 1;
    padding: 1rem;
    margin-left: 0.5rem;
    color: maroon;
    background-color: rgb(240, 228, 216);
    border-radius: 10px;
}

body {
      background-color: linen;
      margin: 0;
      padding: 0;
}

.navigation {
    margin: auto;
    width: 45%;
  }

article {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

article > h1 {
    font-size:x-large;
    color: maroon;
}

article > h1+p {
    color: maroon;
}

article > h1::first-letter {
    font-size: 3rem;
    color: rgb(102, 1, 1);
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0.5rem;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
    animation: 12s myGradient infinite;
    border-radius: 40px;
    box-shadow: 3px 3px 20px #ff3352;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

@keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }

li a {
    color: #fff;
    text-decoration: none;
    padding: 20px 35px;
    font-family: verdana;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1px;
    opacity: 0.9;
    margin: auto;
  }

  .top-logo {
    margin: 1rem;
  }

  .active, .active1, .active2, .active3 {
    transition: 1s;
  }

  header, footer {
    text-align: center;
  }

footer {
    display: flex;
}

footer div {
    flex: 1;
}

  main {
    margin: 3rem;
    border: 8px solid;
	padding: 1rem;
    border-image: linear-gradient(45deg, rgb(224, 64, 91), rgb(70, 1, 5)) 1;
    
  }

  .active3:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
    margin-top: -100px;
  }
  
  .active2:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active1:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  @keyframes myFlash {
    0% {
      opacity: 1;
      text-shadow: transparent;
    }
    
    50% {
      opacity: .1;
    }
    
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px #fff;
    }
  }

  a {
    background:
      linear-gradient(
        to right,
        rgb(177, 53, 5),
        rgb(180, 68, 2)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    color: maroon;
  }

  a:hover {
    background-size: 0 3px, 100% 3px;
  }